li {
    user-select: none;
    cursor: pointer;
}

.item-done {
    text-decoration: line-through;
}

.item-bg-blue {
    background-color: blue;
}

button {
    cursor: pointer;
}

.done-btn {
    background-color: yellow;
}

.done-btn-green {
    background-color: green;
}